
.post-footer {
  float: none;
  width: 100%;
  position: unset;
  padding-left: 0;
}

.post-header {
    width: 100%;
    float: none;
    position: unset;
    margin-bottom: $spacing-md;
}

.project-header {
    width: 100%;
    float: none;
    position: unset;
    margin-bottom: $spacing-md;
}

#data-fs-success {
    color: $success;
}